/* #040C0C
#E4E4E4
#246324 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    overflow: hidden;
    background: url(block.jpeg.png);
    background-size: 100px;
    font-family: 'Poppins', sans-serif;

}
.center {
    display: flex;
    justify-content: center;
}
.navbar {
    box-shadow: 5px 5px 5px #252525;
    border-radius: 30px;
    height: 100px;
    align-items: center;
    background-color: #252525;
    display: flex;
    justify-content: space-around;
    width: 95%;
    position: fixed;
}
button {
    cursor: pointer;
    --color: #246524;font-family: 'Poppins', sans-serif;
    display: inline-block;
    height: 100%;
    width: 12%;
    line-height: 2.5em;
    background-color: #252525;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: none;
    transition: color 0.2s;
    z-index: 1;
    font-size: 24px;
    border-radius: 20px;
    font-weight: 500;
    color: #e4e4e4;
   }
   
   button:before {
    filter: blur(5px);
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 220px;
    width: 300px;
    border-radius: 50%;
   }
   
   button:hover {
    color: #e4e4e4;
   }
   
   button:before {
    top: 100%;
    left: 100%;
    transition: all .2s;
   }
   
   button:hover:before {
    top: -30px;
    left: -30px;
   }
   .home-text {
    animation: right-monke 0.4s ease-in;
    font-size: large;
    display: flex;
    flex-direction: column;
    margin-top: 400px;
    margin-left: 1100px;
   }
   .blob{
    margin: 15px;
    z-index: -1;
    border-radius: 63px 71px 123px 53px;
    position: absolute;
    opacity: 0.3;
    background-color: #1a931a;
    width: 200px;
    height: 200px;
   }
   @keyframes right-monke {
    0% {
        transform: scale(0%);
        filter: blur(10px);
    }
    60% {
        transform: scale(120%);
    }
    80% {
        transform: scale(90%);
    }
    100% {
        transform: scale(100%);
        filter: blur(0px);
    }
}

.grid-center {
    animation: right-monke 0.4s ease-in;
    flex-direction: column;
    margin: 0px;
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.GYIK-text {
    cursor:default;
    padding: 5px;
    border-radius: 20px;
    border: 2pt #252525 dotted;
    font-size: 20px;
    margin-left: 10%;
    transition: 0.3s;
    margin-right: 10%;
}
.GYIK-text:hover {
    box-shadow: #252525 5px 5px 5px;
}

#GYIK-h1 {
    cursor:default;
    margin-top: 100px;
    background-image: url(title-block.png);
    background-size: 80px;
    padding: 7px;
    border-radius: 20px;
    font-size: 42px;
    text-align: center;
    transition: 0.3s;
    
}
#GYIK-h1:hover {

    box-shadow: #252525 5px 5px 5px;
}
.GYIK-text-cim {
    cursor:default;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url(title-block.png);
    background-size: 60px;
    padding: 7px;
    transition: 0.3s;
    border-radius: 20px;
}
.GYIK-text-cim:hover {
    box-shadow: #252525 5px 5px 5px;
}
#open {
    animation: right-monke 0.4s ease-in;

}

.pfp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}

.pfp-contained-image {
    align-items: center;
    padding: 10px;
}

.pfp-contained-image img {
    height: 270px;
    border-radius: 20px;
    transition: 0.3s;
}
.pfp-contained-image img:hover {
    border-radius: 25px;
    box-shadow: 5px 5px 5px black;
}
.pfp-names {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    padding: 5px;
    background-image: url(title-block.png);
    background-size: 50%;
    border-radius: 25px;
    text-transform: uppercase;
    text-decoration: double;
}